
.stop { 
  background-color: white;
}

.stop-hour-times { 

 }

.stop-hour-times ul { 
  overflow-x:hidden;
  white-space:nowrap; 
  height: 1em;
  width: 100%;
  margin-right: 3px; 
} 

.stop li
{ 
  margin-left: 3px;
  display:inline; 
} 